{% extends "global.html" %}

{% block customcss %}
ol.buildlog {
  display: block;
  padding: 9.5px 9.5px 9.5px 60px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #c5c5c5;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}
span.code.buildcomment {
  color: #f00;
}
span.code {
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
}
{% endblock %}

{% block content %}
        <div class="row">
            <div class="col-lg-12">
                <h2>{{ repo }}</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
              <div class="panel panel-default">
                <div class="panel-heading">Build-Log</div>
                <div class="panel-body">
                  <ol class="buildlog">
                    {% for v in log %}
                      {% if v.BuildComment %}
                        <li data-linenumber="L{{ forloop.Counter }}">
                          <span class="code buildcomment">{{ v.Line }}</span>
                        </li>
                      {% else %}
                        <li data-linenumber="L{{ forloop.Counter }}">
                          <span class="code">{{ v.Line }}</span>
                        </li>
                      {% endif %}
                    {% endfor %}
                  </ol>
                </div>
              </div>
            </div>
        </div>
        <!-- /.row -->
{% endblock %}

{% block customscript %}
<script>
  $(function(){
    $(window).on("hashchange", markLines);
    if (window.location.hash) {
      lines = window.location.hash.substring(1).split('-')
      $('[data-linenumber="' + lines[0] + '"]').goTo()
      markLines();
    }
  });

  function markLines(start, end) {
    lines = window.location.hash.substring(1).split('-')
    if (lines.length == 0) { return }
    start = lines[0].substring(1)
    if (lines.length > 1) { end = lines[1].substring(1); } else { end = start; }

    $('[data-linenumber]').css('background-color', 'transparent');

    for (i = start; i <= end; i++) {
      $('[data-linenumber="L' + i + '"]').css('background-color', 'rgb(248, 238, 199)');
    }
  }

  (function($) {
    $.fn.goTo = function() {
      $('html, body').animate({
        scrollTop: $(this).offset().top - $('nav').height() - 20 + 'px'
      }, 'fast');
      return this; // for chaining...
    }
  })(jQuery);
</script>
{% endblock %}
