{% extends "global.html" %}

{% block content %}
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <h4>Angaben zum Betreiber nach § 5 TMG</h4>
              <p>
                Knut Ahlers<br>
                Rissener Str. 39<br>
                22880 Wedel
              </p>
              <p>
                Tel.: +49 (0) 157 757 366 14<br>
                Fax: +49 (0) 4103 9659203 9
              </p>
              <p>
                E-Mail: knut@luzifer.io
              </p>
            </div>
        </div>
        <!-- /.row -->
{% endblock %}
