{% extends "global.html" %}

{% block customscript %}
<script>

</script>
{% endblock %}

{% block content %}
        <div class="row">
            <div class="col-lg-12">
                <h2>{{ repo }}</h2>
                <hr>
            </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            {% if build_status == "queued" %}
            <div class="alert alert-info">
              <span class="glyphicon glyphicon-calendar"></span>
              This repository is currently in build queue&hellip;
            </div>
            {% endif %}
            {% if build_status == "building" %}
            <div class="alert alert-info">
              <span class="glyphicon glyphicon-fire"></span>
              This repository is currently building&hellip;
            </div>
            {% endif %}
          </div>
        </div>
        {% if hasbuilds %}
        <div class="row">
            <div class="col-lg-3">
              <div class="panel panel-default">
                <div class="panel-heading">Labels</div>
                <div class="list-group">
                  {% for k in branches %}
                    <a class="{% if k.Branch == branch %}active{% endif %} list-group-item" href="?branch={{ k.Branch }}">
                      {{ k.Branch }}
                    </a>
                    {% if forloop.Counter == 5 %}
                      </div>
                      <div class="list-group collapse" id="allbuilds" aria-expanded="false">
                    {% endif %}
                  {% endfor %}
                </div>
                {% if branches|length > 5 %}
                <a class="btn btn-block" data-toggle="collapse" href="#allbuilds" aria-expanded="false" aria-controls="allbuilds">
                  Show all builds
                </a>
                {% endif %}
              </div>


              <form role="form" action="/build" method="post">
                <p>
                  <input type="hidden" name="repository" value="{{ repo }}">
                  <button type="submit" class="btn btn-success btn-block">Queue Build Now...</button>
                </p>
              </form>
              <p>
                <a class="btn btn-default btn-block" href="/{{ repo }}/build.log" role="button">
                  <span class="glyphicon glyphicon-th-list"></span>
                  Open BuildLog
                </a>
              </p>
            </div>
            <div class="col-lg-9">
              <div class="panel panel-default">
                <div class="panel-heading">Properties</div>
                <div class="panel-body">
                  <p>
                    Last built <strong>{{ mybranch.BuildDate|timesince }}</strong> 
                    using <strong>{{ mybranch.GoVersion }}</strong>
                  </p>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">Project-Readme for this version</div>
                <div class="panel-body">
                  {{ readme|markdown }}
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">Downloads</div>
                <table class="table vert-align">
                  <tr>
                    <th class="col-lg-8">Filename</th>
                    <th class="col-lg-2">File Size</th>
                    <th class="col-lg-2">&nbsp;</th>
                  </tr>
                  {% for properties in mybranch.Assets %}
                    <tr {% if !properties.FileName|is_mainarch %}class="subarch collapse"{% endif %}>
                      <td>
                        <i class="fa fa-{{properties.FileName|branchicon}}"></i>
                        {{ properties.FileName }}
                      </td>
                      <td>{{ properties.Size|filesizeformat }}</td>
                      <td>
                        <a href="/get/{{ repo }}/{{ properties.FileName }}" class="btn btn-default" role="button">
                          <span class="glyphicon glyphicon-save"></span>
                          Download
                        </a>
                      </td>
                    </tr>
                  {% endfor %}
                </table>
                <a class="btn btn-block" data-toggle="collapse" href=".subarch" aria-expanded="false" aria-controls="allbuilds">
                  Show all assets
                </a>
              </div>
            </div>
        </div>
        <!-- /.row -->
        {% else %}
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
              <div class="panel panel-default">
                <div class="panel-heading">Not yet ready&hellip;</div>
                <div class="panel-body">
                  <p>
                    Your build is known to us and you should see a build status above.
                    Sadly it is not yet ready for you to see it as the workers are still
                    working on it. Please stay tuned&hellip;
                  </p>
                  <p>
                    If this message persists something went really wrong and you might
                    consider contacting me&hellip;
                  </p>
                </div>
              </div>
            </div>
        </div>
        {% endif %}
{% endblock %}
