{% extends "global.html" %}

{% block customscript %}
<script>
$(function(){
  $('.hash-display-button').bind('click', function() {
    $(this).closest('tr').find('.hash-display').toggle();
  })
})
</script>
{% endblock %}

{% block content %}
        <div class="row">
            <div class="col-lg-12">
                <h2>
                  <div class="btn-group pull-right">
                    {% if "github.com" in repo %}<a href="https://{{repo}}" class="btn btn-default"><i class="fa fa-github fa-lg"></i></a>{% endif %}
                    {% if "bitbucket.org" in repo %}<a href="https://{{repo}}" class="btn btn-default"><i class="fa fa-bitbucket fa-lg"></i></a>{% endif %}
                    <a href="/api/v1/{{repo}}/rebuild" class="btn btn-default"><i class="fa fa-repeat fa-lg"></i></a>
                    {% if signature|length > 0 %}
                      {% if "WARNING" in signature %}
                        <a href="#signature" style="color:#f0ad4e;" class="btn btn-default" data-toggle="modal" data-target="#signature" title="Valid but untrusted signature"><i class="fa fa-check-circle fa-lg"></i></a>
                      {% else %}
                        <a href="#signature" style="color:#5cb85c;" class="btn btn-default" data-toggle="modal" data-target="#signature" title="Valid trusted signature"><i class="fa fa-check-circle fa-lg"></i></a>
                      {% endif %}
                    {% else %}
                      <a href="#signature" style="color:#ccc;" class="btn btn-default" data-toggle="modal" data-target="#signature" title="No signature"><i class="fa fa-check-circle fa-lg"></i></a>
                    {% endif %}
                    <a href="javascript:void(0);" class="btn btn-default dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="false">
                      <span class="caret"></span>
                      <span class="sr-only">Toggle Dropdown</span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="/api/v1/{{repo}}/signed-hashes/{{branch}}"><i class="fa fa-lock"></i> Download signed checksum list</a></li>
                    </ul>
                  </div>
                  {{ repo }}
                </h2>
                <hr>
            </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            {% if build_status == "queued" %}
            <div class="alert alert-info">
              <span class="glyphicon glyphicon-calendar"></span>
              This repository is currently in build queue&hellip;
            </div>
            {% endif %}
            {% if build_status == "building" %}
            <div class="alert alert-info">
              <span class="glyphicon glyphicon-fire"></span>
              This repository is currently building&hellip;
            </div>
            {% endif %}
          </div>
          {% if abort %}
          <div class="col-lg-12">
            <div class="alert alert-danger">
              <span class="glyphicon glyphicon-ban-circle"></span>
              Last build was aborted because of following reason:<br />
              {{abort}}
            </div>
          </div>
          {% endif %}
        </div>
        {% if hasbuilds %}
        <div class="row">
            <div class="col-lg-3">
              <div class="panel panel-default">
                <div class="panel-heading">Labels</div>
                <div class="list-group">
                  {% for k in branches %}
                    <a class="{% if k.Branch == branch %}active{% endif %} list-group-item" href="?branch={{ k.Branch }}">
                      {{ k.Branch }}
                    </a>
                    {% if forloop.Counter == 5 %}
                      </div>
                      <div class="list-group collapse" id="allbuilds" aria-expanded="false">
                    {% endif %}
                  {% endfor %}
                </div>
                {% if branches|length > 5 %}
                <a class="btn btn-block" data-toggle="collapse" href="#allbuilds" aria-expanded="false" aria-controls="allbuilds">
                  Show all builds
                </a>
                {% endif %}
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">Builds</div>
                <div class="list-group">
                  {% for log in logs %}
                    <a href="/{{repo}}/log/{{log.ID}}" class="list-group-item">
                      {% if log.Success %}
                      <span class="indicator-ball indicator-ball-success"></span>
                      {% else %}
                      <span class="indicator-ball indicator-ball-failure"></span>
                      {% endif %}
                      {{log.Time|timesince}}
                    </a>
                  {% endfor %}
                </div>
              </div>
            </div> <!-- /.col-lg-3 -->

            <div class="col-lg-9">
              <div class="panel panel-default">
                <div class="panel-heading">Properties</div>
                <div class="panel-body">
                  <p>
                    Last built <strong>{{ mybranch.BuildDate|timesince }}</strong>
                    using <strong>{{ mybranch.GoVersion }}</strong>
                    and <strong>{{ buildDuration }} second{{ buildDuration|pluralize }}</strong> of time
                  </p>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">Downloads</div>
                <table class="table vert-align">
                  <tr>
                    <th>
                      <div class="row">
                        <div class="col-lg-7">Filename</div>
                        <div class="col-lg-2">File Size</div>
                        <div class="col-lg-3">&nbsp;</div>
                      </div>
                    </th>
                  </tr>
                  {% for properties in mybranch.Assets %}
                    <tr {% if !properties.FileName|is_mainarch %}class="subarch collapse"{% endif %}>
                      <td>
                        <div class="row" style="line-height: 34px;">
                          <div class="col-lg-7">
                            <i class="fa fa-{{properties.FileName|branchicon}}"></i>
                            {{ properties.FileName }}
                          </div>
                          <div class="col-lg-2">{{ properties.Size|filesizeformat }}</div>
                          <div class="col-lg-3">
                            <div class="btn-group pull-right">
                              <a href="/get/{{ repo }}/{{ properties.FileName }}" class="btn btn-default" role="button">
                                <i class="fa fa-download"></i> Download
                              </a>
                              <a href="#hashes" class="btn btn-default dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                              </a>
                              <ul class="dropdown-menu" role="menu">
                                <li><a href="javascript:void(0);" class="hash-display-button"><i class="fa fa-bars"></i> Show Checksums</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="row hash-display" style="margin-top: 10px; display:none;">
                          <div class="col-lg-12">
                            <pre>Checksums for {{ properties.FileName }}:

MD5:    {{ properties.MD5 }}
SHA1:   {{ properties.SHA1 }}
SHA256: {{ properties.SHA256 }}</pre>
                          </div>
                        </div>
                      </td>
                    </tr>
                  {% endfor %}
                </table>
                <a class="btn btn-block" data-toggle="collapse" href=".subarch" aria-expanded="false" aria-controls="allbuilds">
                  Show all assets
                </a>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">Project-Readme for this version</div>
                <div class="panel-body">
                  {{ readme|markdown }}
                </div>
              </div>
            </div>
        </div>
        <!-- /.row -->

        <div class="modal fade" id="signature" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Code-signature of this build</h4>
              </div>
              <div class="modal-body">
                {% if signature|length > 0 %}
                  <pre>{{ signature }}</pre>
                {% else %}
                  <p>
                    This build has not been signed by its maintainer.
                  </p>
                  <p>
                    If you are the maintainer of this project and want others to be able to verify
                    the code has not been changed you can sign your tags using a GPG key:
                    <a href="https://git-scm.com/book/tr/v2/Git-Tools-Signing-Your-Work">Git Tools
                      - Signing Your Work</a>
                  </p>
                {% endif %}
              </div>
            </div>
          </div>
        </div> <!-- /.modal -->
        {% else %}
        <div class="row">
          <div class="col-lg-6  col-lg-offset-1">
            <div class="panel panel-default">
              <div class="panel-heading">Not yet ready&hellip;</div>
              <div class="panel-body">
                <p>
                  Your build is known to us and you should see a build status above.
                  Sadly it is not yet ready for you to see it as the workers are still
                  working on it. Please stay tuned&hellip;
                </p>
                <p>
                  If this message persists something went really wrong and you might
                  want to take a look into the build logs listed in the right column
                  if any consider contacting me&hellip;
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="panel panel-default">
              <div class="panel-heading">Builds</div>
              <div class="list-group">
                {% for log in logs %}
                  <a href="/{{repo}}/log/{{log.ID}}" class="list-group-item">
                    {% if log.Success %}
                    <span class="indicator-ball indicator-ball-success"></span>
                    {% else %}
                    <span class="indicator-ball indicator-ball-failure"></span>
                    {% endif %}
                    {{log.Time|timesince}}
                  </a>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        {% endif %}
{% endblock %}
